<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircos.mapper.CategoryMapper">

    <resultMap type="com.aircos.entity.vo.CategoryVo" id="category">
        <result column="id" property="id" javaType="java.lang.Integer" />
        <result column="category_name" property="categoryName" javaType="java.lang.String" />
        <result column="level" property="level" javaType="java.lang.Integer" />
        <result column="pid" property="pid" javaType="java.lang.Integer" />
    </resultMap>


    <select id="queryCategoryOne" resultMap="category">
    SELECT
        id, category_name, `level`, pid
    FROM
        aircos_category
    WHERE
        `level` = 1
    </select>

    <select id="queryCategoryTree" resultMap="category">
    SELECT
        id, category_name, `level`, pid
    FROM
        aircos_category
    WHERE
        `level` = #{level}
        AND pid = #{pid}
        AND is_deleted = 1
    </select>

</mapper>