<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircos.mapper.SchoolMapper">

    <resultMap id="BaseResultMap" type="com.aircos.entity.dao.School">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="address_other" jdbcType="VARCHAR" property="addressOther" />
        <result column="address_city" jdbcType="VARCHAR" property="addressCity" />
        <result column="address_province" jdbcType="VARCHAR" property="addressProvince" />
        <result column="address_region" jdbcType="VARCHAR" property="addressRegion" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
        <result column="school_info" jdbcType="VARCHAR" property="schoolInfo" />
        <result column="school_phone" jdbcType="VARCHAR" property="schoolPhone" />
        <result column="school_url" jdbcType="VARCHAR" property="schoolUrl" />
        <result column="picture_logo" jdbcType="VARCHAR" property="pictureLogo" />
        <result column="picture_view" jdbcType="VARCHAR" property="pictureView" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="update_time" jdbcType="DATE" property="updateTime" />
    </resultMap>

    <resultMap id="SchoolBO" type="com.aircos.entity.bo.SchoolBO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="match" jdbcType="INTEGER" property="match" />
        <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    </resultMap>

    <resultMap id="SchoolVo" type="com.aircos.entity.vo.SchoolProfessionVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <collection column="id"
                    property="professions"
                    javaType="java.util.ArrayList"
                    select="com.aircos.mapper.ProfessionMapper.queryProfessionBySchoolId"/>
    </resultMap>

    <!--  通过 答案 + 总分 查询匹配的院校 -->
    <select id="selectListByAnswer" resultMap="SchoolBO">

    SELECT
        school.id,
        school.school_name,
        ras.`match`
    FROM
        aircos_school school
        LEFT JOIN relation_answer_school ras ON school.id = ras.school_id
    WHERE
        school.id IN ( SELECT school_id FROM relation_answer_school WHERE answer_id = ( SELECT id FROM aircos_answer WHERE answer = #{answer} ) )
    ORDER BY
        `match` DESC

    </select>

    <select id="querySchoolsByProfessionId" resultMap="BaseResultMap">
        SELECT id, source_min, address_other, address_city, address_province, address_region, school_name, school_url, school_info, school_phone, picture_logo, picture_view create_time, update_time
        FROM aircos_school
        WHERE id IN ( SELECT school_id FROM relation_school_profession WHERE profession_id = #{professionId})

    </select>

    <select id="queryProfessionsBySchoolId" resultMap="SchoolVo">
        SELECT id FROM aircos_school WHERE id = #{schoolId}
    </select>


</mapper>